.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    max-width: 350px;
}

.chat-icon {
    background-color: #c15516;
    color: white;
    padding: 10px !important;
    border-radius: 50px;
    cursor: pointer;
    height: 50px !important;
    width: 50px !important;
    text-align: center;
    line-height: 30px;
}

.chat-window {
    display: none;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 480px;
    width: 350px;
    overflow-y: auto;
}

.chat-header {
    background-color: #c15516;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-messages {
    padding: 10px;
    overflow-y: scroll;
    height: 300px;
}

.message {
    display: flex;
    margin-bottom: 5px;
}

.message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #c15516;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message .content {
    padding: 10px;
    border-radius: 15px;
    width: 300px;
}

.user-message {
    flex-direction: row-reverse;
}

.user-message .avatar {
    background-color: #c15516;
}

.user-message .content {
    background-color: #c15516;
    color: white;
}

.other-message .avatar {
    background-color: #FFF;
}

.other-message .content {
    background-color: #747474;
    color: #FFF
}

.user-input {
    display: flex;
    margin-top: 10px;
}

.user-input input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.user-input button {
    background-color: #c15516;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 8px 12px;
    cursor: pointer;
}
