@media screen and (min-width: 1400px) {
    .user-details-scroll{
        max-height: auto;
    }
    div#user_edit_view{
        height: auto;
    }
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 991px) {

}
/* ipad start */
@media screen and (max-width: 768px) {
    /* .iq-navbar-header h1 {
        top: 10px;
    } */
    .iq-banner .iq-navbar-header{
    height: 150px !important;
    }
    /* .iq-navbar-header .btn.btn-link.btn-soft-light{
        top: 10px;
    } */
    .header-hover-menu.iq-navbar .navbar-collapse:not(.offcanvas-collapse){
      background-color: inherit;
      position: absolute;
      top: 3px;
      right: 20%;
      left: auto;
      box-shadow: none;
    }
    .offcanvas-end.iq-product-menu-responsive, .offcanvas-start.iq-product-menu-responsive{
      padding-top: 0;
    }
    .iq-navbar .navbar-collapse:not(.offcanvas-collapse) .navbar-nav li {
      padding: .5rem 0.2rem 0rem 0rem;
      padding-right: 0.2rem;
    }
    .dropdown-menu li{
      margin: 0;
    }
    .offcanvas.offcanvas-end{
      border-left: none;
      width: 100%;
    }
}
/* ipad end */
@media screen and (max-width: 767px) {
    .card-header.d-flex.mb-4.justify-content-between {
        display: block !important;
      }
      .d-flex.all-company-list {
        display: block !important;
      }
      .contact_user_details .d-flex.flex-wrap.align-items-center.justify-content-between{
        display: block !important;
      }
      .contact_user_details a{
        margin-bottom: 10px;
      }
    section.login-content{

        height: 100vh;
    }
    .nav .search-input {
        width: 100%;
    }
    .border-end{
        border: none !important;
    }
    .d-flex.justify-content-between .d-flex {
        width: 100%;
    }
    .col{
        flex: inherit;
    }
    div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
        padding-left: 15px;
    }
    .col-6{
        width: 100%;
    }
    .nav-item.search_bar_view.dropdown.d-xl-block {
      display: none;
    }
    .iq-nav-menu ul{

      box-shadow: none !important;
    }
  }
/* mobile view start */
@media screen and (max-width: 480px) {
    .card-header.align-items-center.d-flex.justify-content-between a svg {
        display: none;
      }
      .iq-container .btn-soft-light {
        padding: 5px;
        font-size: 12px;
      }
      .iq-container .btn-soft-light svg{
        display: none;
      }
      .header-hover-menu.iq-navbar .navbar-collapse:not(.offcanvas-collapse){
        right: 22%;
      }
      .accordion-body{
        padding: 0;
      }
}
@media screen and (max-width: 380px) {
    .card-header.align-items-center.d-flex.justify-content-between{
        display: block !important;
    }
    .card-header.align-items-center.d-flex.justify-content-between a svg {
        display: none;
      }
      .iq-container .btn-soft-light {
        padding: 5px;
        font-size: 12px;
      }
      .iq-container .btn-soft-light svg{
        display: none;
      }
      .dashboard_view{

      }
      .header-title {
        /* display: none; */
      }
      .container-fluid.navbar-inner {
        padding: 0 15px;
      }
      /* .notification_view{
        position: absolute !important;
        top: -52px;
        left: 60%;
      }
      .user_view{
        position: absolute !important;
        top: -52px;
        left: 71%;
      } */
}