@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 991px) {

}
/* ipad start */
@media screen and (max-width: 768px) {

}
/* ipad end */
@media screen and (max-width: 767px) {
    section.login-content{
        height: 100vh;
    }
    .nav .search-input {
        width: 100%;
    }
    .border-end{
        border: none !important;
    }
    .d-flex.justify-content-between .d-flex {
        width: 100%;
    }
    .col{
        flex: inherit;
    }
    div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
        padding-left: 15px;
    }
    .col-6{
        width: 100%;
    }
  }
/* mobile view start */
@media screen and (max-width: 480px) {

}