@media screen and (max-width: 767px) {
    section.login-content{
        height: 100vh;
    }
    .nav .search-input {
        width: 100%;
    }
    .border-end{
        border: none !important;
    }
    .d-flex.justify-content-between .d-flex {
        width: 100%;
    }
  }